<h2 class="mb-5">
    @if (paciente) {
        Editar
    } @else {
        Nuevo
    } Paciente
</h2>

<div class="row row-cols-3 justify-content-center">
    @if (form) {
        <div>
            <!-- Si tiene un elemento salta la alerta de error -->
        @if (errors.length) {
            <div class="alert alert-danger">
                <p>Error en el Paciente:</p>
                <ul>
                    @for (error of errors; track error) {
                    <li>{{ error }}</li>
                }
                </ul>
            </div>
        }

        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="mb-3">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" placeholder="Nombre" class="form-control"
                    formControlName="nombre">

                    @if (form.get('nombre')?.hasError('required') && form.get('nombre')?.touched) {
                        <p class="invalid-feedback d-block">El nombre es obligatorio</p>
                    }
            </div>
        
            <div class="mb-3">
                <label for="apellidos">Apellidos</label>
                <input id="apellidos" type="text" placeholder="Apellidos" class="form-control"
                    formControlName="apellidos">

                    @if (form.get('apellidos')?.hasError('required') && form.get('apellidos')?.touched) {
                        <p class="invalid-feedback d-block">Los apellidos son obligatorios</p>
                    }
            </div>
    
            <div class="mb-3">
                <label for="usuario">Usuario</label>
                <input id="usuario" type="text" placeholder="Usuario" class="form-control"
                    formControlName="usuario">

                    @if (form.get('usuario')?.hasError('required') && form.get('usuario')?.touched) {
                        <p class="invalid-feedback d-block">El usuario es obligatorio</p>
                    }
            </div>
    
            <div class="mb-3">
                <label for="clave">Clave</label>
                <input id="clave" type="text" placeholder="Clave" class="form-control"
                    formControlName="clave">

                    @if (form.get('clave')?.hasError('required') && form.get('clave')?.touched) {
                        <p class="invalid-feedback d-block">La clave es obligatoria</p>
                    }
            </div>

            <div class="mb-3">
                <label for="NSS">NSS</label>
                <input id="NSS" type="text" placeholder="NSS" class="form-control"
                    formControlName="NSS">

                    @if (form.get('NSS')?.hasError('required') && form.get('NSS')?.touched) {
                        <p class="invalid-feedback d-block">El NSS es obligatorio</p>
                    }
            </div>

            <div class="mb-3">
                <label for="numTarjeta">Nº Tarjeta</label>
                <input id="numTarjeta" type="text" placeholder="Nº Tarjeta" class="form-control"
                    formControlName="numTarjeta">

                    @if (form.get('numTarjeta')?.hasError('required') && form.get('numTarjeta')?.touched) {
                        <p class="invalid-feedback d-block">El número de tarjeta es obligatorio</p>
                    }
            </div>

            <div class="mb-3">
                <label for="telefono">Teléfono</label>
                <input id="telefono" type="text" placeholder="Teléfono" class="form-control"
                    formControlName="telefono">

                    @if (form.get('telefono')?.hasError('required') && form.get('telefono')?.touched) {
                        <p class="invalid-feedback d-block">El teléfono es obligatorio</p>
                    }
            </div>

            <div class="mb-3">
                <label for="direccion">Dirección</label>
                <input id="direccion" type="text" placeholder="Dirección" class="form-control"
                    formControlName="direccion">

                    @if (form.get('direccion')?.hasError('required') && form.get('direccion')?.touched) {
                        <p class="invalid-feedback d-block">La dirección es obligatoria</p>
                    }
            </div>
        
            <div class="text-end">
                <button type="button" class="btn btn-danger" routerLink="/paciente">
                    Cancelar
                </button>
                <button class="btn btn-primary ms-2">
                    @if (paciente) {
                        Actualizar
                    } @else {
                        Guardar
                    } Paciente
                </button>
            </div>
        </form>
        </div>
    }
</div>