<h2 class="mb-5">
    @if (usuario) {
        Editar
    } @else {
        Nuevo
    } Usuario
</h2>

<div class="row row-cols-3 justify-content-center">
    @if (form) {
        <div>
            <!-- Si tiene un elemento salta la alerta de error -->
        @if (errors.length) {
            <div class="alert alert-danger">
                <p>Error en el Usuario:</p>
                <ul>
                    @for (error of errors; track error) {
                    <li>{{ error }}</li>
                }
                </ul>
            </div>
        }

        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="mb-3">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" placeholder="Nombre" class="form-control"
                    formControlName="nombre">

                    @if (form.get('nombre')?.hasError('required') && form.get('nombre')?.touched) {
                        <p class="invalid-feedback d-block">El nombre es obligatorio</p>
                    }
            </div>
        
            <div class="mb-3">
                <label for="apellidos">Apellidos</label>
                <input id="apellidos" type="text" placeholder="Apellidos" class="form-control"
                    formControlName="apellidos">

                    @if (form.get('apellidos')?.hasError('required') && form.get('apellidos')?.touched) {
                        <p class="invalid-feedback d-block">Los apellidos son obligatorios</p>
                    }
            </div>
    
            <div class="mb-3">
                <label for="usuario">Usuario</label>
                <input id="usuario" type="text" placeholder="Usuario" class="form-control"
                    formControlName="usuario">

                    @if (form.get('usuario')?.hasError('required') && form.get('usuario')?.touched) {
                        <p class="invalid-feedback d-block">El usuario es obligatorio</p>
                    }
            </div>
    
            <div class="mb-3">
                <label for="clave">Clave</label>
                <input id="clave" type="text" placeholder="Clave" class="form-control"
                    formControlName="clave">

                    @if (form.get('clave')?.hasError('required') && form.get('clave')?.touched) {
                        <p class="invalid-feedback d-block">La clave es obligatoria</p>
                    }
            </div>
        
            <div class="text-end">
                <button type="button" class="btn btn-danger" routerLink="/">
                    Cancelar
                </button>
                <button class="btn btn-primary ms-2">
                    @if (usuario) {
                        Actualizar
                    } @else {
                        Guardar
                    } Usuario
                </button>
            </div>
        </form>
        </div>
    }
</div>