<h2 class="mb-5">Listado de Usuarios</h2>

<div class="text-end py-2">
    <button class="btn btn-primary" routerLink="/usuario/nuevo">
        Nuevo Usuario
    </button>
</div>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Usuario</th>
            <th>Clave</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (usuario of usuarios; track usuario.id) {
            <tr>
                <td>{{usuario.id}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellidos}}</td>
                <td>{{usuario.usuario}}</td>
                <td>{{usuario.clave}}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <button class="btn btn-primary" [routerLink]="[usuario.id, 'editar']">
                            Editar
                        </button>
                        <button class="btn btn-danger" (click)="deleteUsuario(usuario)">
                            Eliminar
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>