<div class="container py-3">
    <div class="mb-5">
        <button class="btn btn-primary" routerLink="/usuario">
            Usuario
        </button>
       <span style="margin-left: 10px;"></span> <!-- Espacio entre botones -->
        <button class="btn btn-primary" routerLink="/medico">
            Médico
        </button>
        <span style="margin-left: 10px;"></span> 
        <button class="btn btn-primary" routerLink="/paciente">
            Paciente
        </button> 
    </div>
</div>
<div class="container py-3">
    <router-outlet></router-outlet>
</div>
